*{
	margin: 0;
	padding: 0;
}

/*body全体*/
body{
	width:auto;
	height:900px;
	background-image:url("PXL_20230616_020804842.jpg");
	background-repeat: no-repeat; /* 繰り返しを禁止 */
    background-size: cover; /* 背景が要素に完全に収まるように拡大/縮小 */

}
a {/*リンクのアンダーラインの消去*/
  text-decoration: none;
}
/*header全体*/
header{
	width:auto;
	height:210px;
	background:;
}

/*header logo*/
header img{
	width:150px;
	height:150px;
	padding:60px 60px 0px 60px;
}

/*header文字*/
header span{
	width:auto;
	height:80px;
	background:;
	margin:-130px 0 0 0;
	padding:0px 0 0 270px;
	color:#ffffff;
	font-size:72px;
	display: flex;
/*	text-align: center;
/*	flex-direction: row;
	flex-wrap:wrap;
	justify-content: space-around;
	align-items: center;
	justify-content: center;*/
/*	height: 100px; /* 任意の高さ */
}

/*===main===*/
#main{
width:auto;
height:auto;
display:flex;
}



/*===main left===*/

#left {
width:200px;
padding:100px 0 0 20px;
}

#left p{
color:000;
font-size:20px;
}

#left img{
width:100px;
padding:20px 0 0 0;
}



/*===main center====*/

#center{
width:auto;
height:660px;
margin:0;
padding:100px 0 0 100px;
background:;
color:#ffffff;
font-size:24px;

} 




footer{
width:auto;
height:30px;
background:red;
text-align: center;

}

