name: Deploy to Lolipop
on:
  push:
    branches:
      - main  # mainブランチにPushされた時に実行
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: FTP Deploy
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.FTP_LOLIPOPSERVER }}
          username: ${{ secrets.FTP_LOLIPOPUSERNAME }}
          password: ${{ secrets.FTP_LOLIPOPPASSWORD }}
          local-dir: ./  # 送信元のフォルダ（PC側）
          server-dir: ubuyama-ds.com/  # 送信先のフォルダ（ロリポップ側）